agent_name: weather_client
author: fetchai
version: 0.25.0
description: This AEA purchases weather data from the weather station.
license: Apache-2.0
aea_version: '>=1.0.0rc1, <2.0.0'
fingerprint: {}
fingerprint_ignore_patterns: []
connections:
- fetchai/ledger:0.15.0
- fetchai/p2p_libp2p:0.18.0
- fetchai/soef:0.19.0
contracts: []
protocols:
- fetchai/default:0.13.0
- fetchai/fipa:0.14.0
- fetchai/ledger_api:0.11.0
- fetchai/oef_search:0.14.0
- fetchai/signing:0.11.0
- fetchai/state_update:0.11.0
skills:
- fetchai/generic_buyer:0.22.0
- fetchai/weather_client:0.21.0
default_connection: fetchai/p2p_libp2p:0.18.0
default_ledger: fetchai
required_ledgers:
- fetchai
logging_config:
  disable_existing_loggers: false
  version: 1
private_key_paths: {}
registry_path: ../packages
default_routing:
  fetchai/ledger_api:0.11.0: fetchai/ledger:0.15.0
  fetchai/oef_search:0.14.0: fetchai/soef:0.19.0
connection_private_key_paths: {}
dependencies:
  aea-ledger-fetchai:
    version: <2.0.0,>=1.0.0rc1
