agent_name: erc1155_deployer
author: fetchai
version: 0.34.3
description: An AEA to deploy and interact with an ERC1155
license: Apache-2.0
aea_version: '>=1.0.0, <2.0.0'
fingerprint: {}
fingerprint_ignore_patterns: []
connections:
- fetchai/ledger:0.21.3
- fetchai/p2p_libp2p:0.27.3
- fetchai/soef:0.27.4
contracts:
- fetchai/erc1155:0.23.2
protocols:
- fetchai/contract_api:1.1.5
- fetchai/default:1.1.5
- fetchai/fipa:1.1.5
- fetchai/ledger_api:1.1.5
- fetchai/oef_search:1.1.5
- fetchai/signing:1.1.5
- fetchai/state_update:1.1.5
skills:
- fetchai/erc1155_deploy:0.31.4
default_connection: fetchai/p2p_libp2p:0.27.3
default_ledger: ethereum
required_ledgers:
- fetchai
- ethereum
logging_config:
  disable_existing_loggers: false
  version: 1
private_key_paths: {}
default_routing:
  fetchai/contract_api:1.1.5: fetchai/ledger:0.21.3
  fetchai/ledger_api:1.1.5: fetchai/ledger:0.21.3
  fetchai/oef_search:1.1.5: fetchai/soef:0.27.4
connection_private_key_paths: {}
dependencies:
  aea-ledger-cosmos:
    version: <2.0.0,>=1.0.0
  aea-ledger-ethereum:
    version: <2.0.0,>=1.0.0
  aea-ledger-fetchai:
    version: <2.0.0,>=1.0.0
---
public_id: fetchai/soef:0.27.4
type: connection
config:
  chain_identifier: ethereum
---
public_id: fetchai/p2p_libp2p:0.27.3
type: connection
cert_requests:
- identifier: acn
  ledger_id: ethereum
  not_after: '2023-01-01'
  not_before: '2022-01-01'
  public_key: fetchai
  message_format: '{public_key}'
  save_path: .certs/conn_cert.txt
