agent_name: erc1155_deployer
author: fetchai
version: 0.5.0
description: An AEA to deploy and interact with an ERC1155
license: Apache-2.0
aea_version: '>=0.3.0, <0.4.0'
fingerprint: {}
fingerprint_ignore_patterns: []
connections:
- fetchai/oef:0.4.0
- fetchai/stub:0.5.0
contracts:
- fetchai/erc1155:0.3.0
protocols:
- fetchai/default:0.2.0
- fetchai/fipa:0.3.0
- fetchai/oef_search:0.2.0
skills:
- fetchai/erc1155_deploy:0.5.0
- fetchai/error:0.2.0
default_connection: fetchai/oef:0.4.0
default_ledger: ethereum
ledger_apis:
  ethereum:
    address: https://ropsten.infura.io/v3/f00f7b3ba0e848ddbdc8941c527447fe
    chain_id: 3
    gas_price: 50
logging_config:
  disable_existing_loggers: false
  version: 1
private_key_paths: {}
registry_path: ../packages
