agent_name: erc1155_deployer
author: fetchai
version: 0.23.0
description: An AEA to deploy and interact with an ERC1155
license: Apache-2.0
aea_version: '>=0.10.0, <0.11.0'
fingerprint: {}
fingerprint_ignore_patterns: []
connections:
- fetchai/ledger:0.13.0
- fetchai/p2p_libp2p:0.15.0
- fetchai/soef:0.16.0
contracts:
- fetchai/erc1155:0.16.0
protocols:
- fetchai/contract_api:0.11.0
- fetchai/default:0.12.0
- fetchai/fipa:0.13.0
- fetchai/ledger_api:0.10.0
- fetchai/oef_search:0.13.0
- fetchai/signing:0.10.0
- fetchai/state_update:0.10.0
skills:
- fetchai/erc1155_deploy:0.22.0
default_connection: fetchai/p2p_libp2p:0.15.0
default_ledger: ethereum
logging_config:
  disable_existing_loggers: false
  version: 1
private_key_paths: {}
registry_path: ../packages
default_routing:
  fetchai/contract_api:0.11.0: fetchai/ledger:0.13.0
  fetchai/ledger_api:0.10.0: fetchai/ledger:0.13.0
  fetchai/oef_search:0.13.0: fetchai/soef:0.16.0
connection_private_key_paths: {}
---
public_id: fetchai/p2p_libp2p:0.15.0
type: connection
cert_requests:
- identifier: acn
  ledger_id: ethereum
  not_after: '2022-01-01'
  not_before: '2021-01-01'
  public_key: fetchai
  save_path: .certs/conn_cert.txt
