[run]
omit =
    */.tox/*
    packages/fetchai/contracts/fet_erc20/*
    packages/fetchai/contracts/oracle/*
    packages/fetchai/contracts/oracle_client/*
    packages/fetchai/contracts/staking_erc20/*
    packages/fetchai/skills/fipa_dummy_buyer/*
    packages/fetchai/skills/error_test_skill/*
    packages/fetchai/skills/task_test_skill/*
    plugins/aea-ledger-cosmos/aea_ledger_cosmos/cosmos.py
