site_name: AEA Developer Documentation
site_url: https://docs.fetch.ai/
site_description: Everything you need to know about Fetch.AI.
#repo_url: https://github.com/fetchai/docs // commented out to remove edit option
#repo_name: 'GitHub'
site_author: diarmid.campbell@fetch.ai

theme:
  name: 'material'
  logo:
    icon: code
  feature:
    tabs: true

nav:
  - AEA Framework:
    - Welcome: 'index.md'
    - Version: 'version.md'
    - Concepts:
      - Language Agnostic Definition: 'language-agnostic-definition.md'
      - Agent-oriented development: 'agent-oriented-development.md'
      - Vision: 'vision.md'
      - Application areas: 'app-areas.md'
      - Relation to OEF and Ledger: 'oef-ledger.md'
      - Identity: 'identity.md'
      # - Trust issues: 'trust.md'
    - Demos:
      - Aries Cloud Agents Demo: 'aries-cloud-agent-demo.md'
      - Car park skills: 'car-park-skills.md'
      # - Contract deploy and interact: 'erc1155-skills.md'
      - Generic skills: 'generic-skills.md'
      - Gym example: 'gym-example.md'
      - Gym skill: 'gym-skill.md'
      - ML skills: 'ml-skills.md'
      - TAC skills: 'tac-skills.md'
      - TAC skills ledger-based: 'tac-skills-contract.md'
      - TAC external app: 'tac.md'
      - Thermometer skills: 'thermometer-skills.md'
      - Weather skills: 'weather-skills.md'
    - Development:
      - Getting started:
        - AEA quick start: 'quickstart.md'
        - Core components - Part 1: 'core-components-1.md'
        - AEA and web frameworks: 'aea-vs-mvc.md'
        - Build a skill for an AEA: 'skill-guide.md'
        - Core components - Part 2: 'core-components-2.md'
        - Trade between two AEAs: 'thermometer-skills-step-by-step.md'
      - Topic guides:
        - Ways to build an AEA: 'step_one.md'
        - Build an AEA with the CLI: 'build-aea-step-by-step.md'
        - Scaffolding packages: 'scaffolding.md'
        - Generating protocols: 'protocol-generator.md'
        - Logging: 'logging.md'
        - Use multiplexer stand-alone: 'multiplexer-standalone.md'
        - Create stand-alone transaction: 'standalone-transaction.md'
        - Create decision-maker transaction: 'decision-maker-transaction.md'
        - Deployment: 'deployment.md'
        - Known limitations: 'known-limits.md'
        - Build an AEA programmatically: 'build-aea-programmatically.md'
        - CLI vs programmatic AEAs: 'cli-vs-programmatic-aeas.md'
        - AEAs vs agents: 'agent-vs-aea.md'
        - Upgrading versions: 'upgrading.md'
      - Use case components:
        - Generic skills: 'generic-skills.md'
        - Frontend intergration: 'connect-a-frontend.md'
        - HTTP Connection: 'http-connection-and-skill.md'
        - ORM integration: 'orm-integration.md'
        - Contract deploy and interact: 'erc1155-skills.md'
        - Identity - Aries Cloud Agent: 'aries-cloud-agent-example.md'
        - P2P Connection: 'p2p-connection.md'
        - Using public ledgers: 'ledger-integration.md'
        - Build an AEA on a Raspberry Pi: 'raspberry-set-up.md'
      - Architecture & component deep-dives:
        - Design principles: 'design-principles.md'
        - Architectural diagram: 'diagram.md'
        - Connections: 'connection.md'
        - Protocols: 'protocol.md'
        - Skills: 'skill.md'
        - Contracts: 'contract.md'
        - Decision Maker: 'decision-maker.md'
        - Configurations: 'config.md'
      - Search & Discovery:
        - Defining Data Models: 'defining-data-models.md'
        - The Query Language: 'query-language.md'
      - Developer Interfaces:
        - CLI:
          - Installation: 'cli-how-to.md'
          - Commands: 'cli-commands.md'
          - File structure: 'package-imports.md'
          - Generating wealth: 'wealth.md' 
        - GUI: 'cli-gui.md'
      - Benchmarks:
        - Performance benchmark: 'performance-benchmark.md'
      - API:
        - AEA: 'api/aea.md'
        - AEA Builder: 'api/aea_builder.md'
        - Agent: 'api/agent.md'
        - Agent Loop: 'api/agent_loop.md'
        - Multiplexer: 'api/multiplexer.md'
        - Runtime: 'api/runtime.md'
        - Components:
          - Base: 'api/components/base.md'
          - Loader: 'api/components/loader.md'
        - Configurations:
          - Base: 'api/configurations/base.md'
          - Components: 'api/configurations/components.md'
          - Constants: 'api/configurations/constants.md'
          - Loader: 'api/configurations/loader.md'
        - Connections:
          - Base: 'api/connections/base.md'
          - Stub Connection: 'api/connections/stub/connection.md'
        - Context: 'api/context/base.md'
        - Contracts:
          - Base: 'api/contracts/base.md'
          - Ethereum: 'api/contracts/ethereum.md'
        - Crypto:
          - Base: 'api/crypto/base.md'
          - Cosmos: 'api/crypto/cosmos.md'
          - Ethereum: 'api/crypto/ethereum.md'
          - Fetchai: 'api/crypto/fetchai.md'
          - Helpers: 'api/crypto/helpers.md'
          - LedgerApis: 'api/crypto/ledger_apis.md'
          - Registry: 'api/crypto/registry.md'
          - Wallet: 'api/crypto/wallet.md'
        - Decision Maker:
          - Base: 'api/decision_maker/base.md'
          - Default: 'api/decision_maker/default.md'
          - Messages:
            - Base: 'api/decision_maker/messages/base.md'
            - State Update: 'api/decision_maker/messages/state_update.md'
            - Transaction: 'api/decision_maker/messages/transaction.md'
        - Helpers:
          - Async Friendly Queue: 'api/helpers/async_friendly_queue.md'
          - Async Utils: 'api/helpers/async_utils.md'
          - Base: 'api/helpers/base.md'
          - Dialogue:
            - Base: 'api/helpers/dialogue/base.md'
          - Exception Policy: 'api/helpers/exception_policy.md'
          - Exec Timeout: 'api/helpers/exec_timeout.md'
          - IPFS:
            - Base: 'api/helpers/ipfs/base.md'
          - Preferences:
            - Base: 'api/helpers/preference_representations/base.md'
          - Search:
            - Generic: 'api/helpers/search/generic.md'
            - Models: 'api/helpers/search/models.md'
          - Test Cases: 'api/helpers/test_cases.md'
        - Identity: 'api/identity/base.md'
        - Mail: 'api/mail/base.md'
        - Protocols:
          - Base: 'api/protocols/base.md'
          - Generator: 'api/protocols/generator.md'
          - Default Protocol:
            - Custom Types: 'api/protocols/default/custom_types.md'
            - Message: 'api/protocols/default/message.md'
            - Serialization: 'api/protocols/default/serialization.md'
        - Registries:
          - Base: 'api/registries/base.md'
          - Filter: 'api/registries/filter.md'
          - Resources: 'api/registries/resources.md'
        - Skills:
          - Base: 'api/skills/base.md'
          - Error Skill: 'api/skills/error/handlers.md'
          - Behaviors: 'api/skills/behaviours.md'
          - Task: 'api/skills/tasks.md'
        - Test Tools: 'api/test_tools/generic.md'
    - Q&A: 'questions-and-answers.md'

plugins:
    - markdownmermaid

markdown_extensions:
  - pymdownx.superfences
  - admonition

extra_css:
    - css/my-styles.css

extra_javascript:
    - https://unpkg.com/mermaid@7.1.2/dist/mermaid.min.js
