[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
url = "https://test.pypi.org/simple"
verify_ssl = true
name = "test-pypi"

[dev-packages]
aiohttp = "==3.6.2"
bandit = "==1.6.2"
black = "==19.10b0"
bs4 = "==0.0.1"
colorlog = "==4.1.0"
docker = "==4.2.0"
fetch-p2p-api = {index = "https://test.pypi.org/simple/",version = "==0.0.2"}
flake8 = "==3.7.9"
flake8-bugbear = "==20.1.4"
flake8-docstrings = "==1.5.0"
flake8-import-order = "==0.18.1"
gym = "==0.15.6"
ipfshttpclient = "==0.4.12"
liccheck = "==0.4.0"
markdown = ">=3.2.1"
mkdocs = "==1.1"
mkdocs-material = "==4.6.3"
mkdocs-mermaid-plugin = {git = "https://github.com/pugong/mkdocs-mermaid-plugin.git"}
mypy = "==0.761"
numpy = "==1.18.1"
oef = "==0.8.1"
openapi-core = "==0.13.2"
openapi-spec-validator = "==0.2.8"
pydocstyle = "==3.0.0"
pygments = "==2.5.2"
pymdown-extensions = "==6.3"
pytest = "==5.3.5"
pytest-asyncio = "==0.10.0"
pytest-cov = "==2.8.1"
pytest-randomly = "==3.2.1"
requests = ">=2.22.0"
safety = "==1.8.5"
tox = "==3.14.5"
vyper = "==0.1.0b12"
mistune = "==2.0.0a4"

[packages]
# we don't specify dependencies for the library here for intallation as per: https://pipenv-fork.readthedocs.io/en/latest/advanced.html#pipfile-vs-setuppy
