[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
url = "https://test.pypi.org/simple"
verify_ssl = true
name = "test-pypi"

[dev-packages]
# we fix exact versions as it's sufficient to have at least one set of compatible dependencies for development
setuptools = "==59.6.0"
aiohttp = "==3.7.4.post0"
asn1crypto = "==1.4.0"
bech32 = "==1.2.0"
defusedxml = "==0.6.0"
# ^ still used?
docker = "==4.2.0"
ecdsa = ">=0.15"
eth-account = "==0.5.6"
gym = "==0.15.6"
hypothesis = "==6.21.6"
ipfshttpclient = "==0.8.0a2"
liccheck = "==0.6.0"
matplotlib = ">=3.3.0,<3.4"
memory-profiler = "==0.57.0"
# ^ still used?
numpy = ">=1.18.1"
openapi-core = "==0.13.2"
openapi-spec-validator = "==0.2.8"
packaging = "==21.3"
pexpect = "==4.8.0"
protobuf = "<=3.20.1"
psutil = "==5.7.0"
pycryptodome = ">=3.10.1"
pytest-custom-exit-code = "==0.3.0"
GitPython = "==3.1.27"
requests = ">=2.22.0"
idna = "<=3.3"
web3 = "==5.25.0"
cosmpy = ">=0.4.1,<0.5.0"
semver = "<3.0.0,>=2.9.1"
py-multibase = ">=1.0.0"
py-multicodec = ">=0.2.0"
google-api-python-client = "<=2.60.0"
certifi = "<=2022.6.15.1"
mistune = "==2.0.3"
tomte = {version = "==0.1.5", extras = ["tox", "tests"]}

[packages]
# we don't specify dependencies for the library here for intallation as per: https://pipenv-fork.readthedocs.io/en/latest/advanced.html#pipfile-vs-setuppy
# aea and plugin dependencies are specified in setup.py