/*
 * This is a basic placeholder CSS stylesheet for the AEA CLI GUI
 */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	cursor: auto;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
    table-layout: fixed;

}



/* colours
$primary-colour: #1e2844;

$secondary-blue: #5887da;
$secondary-green: #2bb5a2;
$secondary-pink: #f176a9;
$secondary-mauve: #a45a95;
$secondary-purple: $secondary-mauve;
$secondary-orange: #f6923b;
$secondary-yellow: #fdda64;
$neutral-dark-grey: #0d0d0d;
$neutral-dark-cyan: #33383e;
$neutral-cyan: #467083;
$neutral-light-cyan: #a2b7c1;
$neutral-mid-grey: #d1dbe0;
$neutral-light-grey: #ecf1f3;
$overlay: rgba(0, 0, 0, 0.5);

*/


/* Fetch.ai branding colours */
:root {

    --primary-colour: #1e2844;
    --secondary-blue: #5887da;
    --neutral-mid-grey: #d1dbe0;
    --neutral-light-grey: #ecf1f3;
    --neutral-dark-grey: #0d0d0d;
    --neutral-dark-cyan: #33383e;
    --neutral-cyan: #467083;
    --neutral-light-cyan: #a2b7c1;
    --secondary-orange: #f6923b;


}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
html,
body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 10px;
    text-rendering: optimizeLegibility;
    letter-spacing: .2px;
    color: var(--primary-colour);

}


.center-me {
    margin: 0 auto;
}

.addLeftMargin{
    margin-left: 40px;
}

.addRightMargin{
    margin-right: 40px;
}

/* Account for the border spacing on tables */
.addLeftMarginBordered{
    margin-left: 30px;
}

.addRightMarginBordered{
    margin-right: 30px;
}

.banner {
    background-color: var(--primary-colour);
    width: 100%;
    height: 100px;
    color: white;

}

.innerMargin {
    max-width: 1000px;
    width: 100%;
    height: 100px;

}

.leftBanner {
    width: 50%;
    height: 100px;
    vertical-align: middle;
}

.rightBanner {
    width: 50%;
    vertical-align: middle;
    table-layout: fixed;
}


.logo {
    height: 25%;
    width: auto;
    margin-left: 40px;
}

.pageTitle {
    text-align: right;
    margin-right: 40px;
    font-size: 20px;

}

/* Wigets */

label{
    vertical-align: middle;
}


input{
    height: 18px;
    vertical-align: middle;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 10px;
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-color: var(--neutral-mid-grey);
}


input:focus {
    border-color: var(--primary-colour);
}


 .interactive{
    cursor: pointer;
 }


button{
    height: 18px;
    vertical-align: middle;
    background-color: var(--neutral-cyan);
    border-width: 0px;
    outline: none;
    color: white;
    display: inline-block;
    cursor: pointer;
}

button:hover {
    background-color: var(--primary-colour);
    color: white;
    cursor: pointer;
}

button:disabled,
button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: auto;
}

button:active {
  background-color: var(--neutral-light-cyan);
}


/* tables */
th{
    text-align: left;
}


/* main area */
.mainContent {
    color: black;
}

.simpleBox{
    display: block

}

.simpleOutlinedBox{
    display: block;
    border-width: 1px;
    border-style: solid;
    border-color: var(--neutral-light-grey);
}

.lightFill{
    background-color: var(--neutral-light-grey);
}

.whiteFill{
    background-color: white;
}

.idWidth{
    width: 25%
}

.descriptionWidth{
    width: 75%
}

.halfSpaceAllRound{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.spaceAllRound{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.spaceAllRoundNoTop{
  margin-top: 0px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.spaceBottom{
  margin-top: 0px;
  margin-bottom: 20px;
  margin-right: 00px;
  margin-left: 0px;
}

.bigSpaceBottom{
  margin-top: 0px;
  margin-bottom: 30px;
  margin-right: 00px;
  margin-left: 0px;
}

.halfSpaceBottom{
  margin-top: 0px;
  margin-bottom: 10px;
  margin-right: 00px;
  margin-left: 0px;
}


.tableSpaceAllRound{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
}


.fullWidth{
    width: 100%;
}


.mainTable{
	border-collapse: separate;
	border-spacing: 10px;
}

.mainTableSide {
    width: 50%;
    vertical-align: top;

}

.contentTitle {
    height: 40px;
    margin-right: 40px;
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;

}

.sectionTitle {
    font-weight: bold;
    padding: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
}


/*aea tables*/

.aea table{
    table-layout: fixed;
}

.aea caption {
    font-weight: bold;
    padding: 0px;
    margin-top: 8px;
    margin-bottom: 4px;

}

.aea th {
    font-weight: 400;
    padding: 2px;
    border: none;
    outline: none;
    background-color: var(--neutral-mid-grey);
}
/*
tr {
    border: none;
    outline: none;
}


.aea_selected{
    border: 1px;
    border-style: solid;
    border-color: var(--secondary-blue);
}
*/

tr {
    padding: 2px;
    border: none;
    outline: none;

}


.aea_selected{
    padding: 2px;
    outline: 2px;
    outline-style: solid;
    outline-color: var(--secondary-blue);
}
.aea td {
    padding: 2px;
    border: none;
    outline: none;
}

.code {
    display:block;
    overflow: scroll;
    height:150px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: black;
    color: white;
    font-family: "Courier New", Courier, monospace;
    padding: 8px;

}

.codeError {
    display:block;
    overflow: scroll;
    height:150px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: black;
    color: red;
    font-family: "Courier New", Courier, monospace;
    padding: 8px;
}

.error{
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 10%; /* A bit of the page */
    bottom: 0;
    visibility: hidden;
    border: 1px solid lightgrey;
    border-radius: 3px;
    background-color: #fbbd;
    text-align: center;
    font-weight: bold;

}