agent_name: tac_controller_contract
author: fetchai
version: 0.2.0
description: An AEA to manage an instance of the TAC (trading agent competition) using
  an ERC1155 smart contract.
license: Apache-2.0
aea_version: '>=0.4.0, <0.5.0'
fingerprint: {}
fingerprint_ignore_patterns: []
connections:
- fetchai/oef:0.4.0
- fetchai/stub:0.5.0
contracts:
- fetchai/erc1155:0.3.0
protocols:
- fetchai/default:0.2.0
- fetchai/fipa:0.3.0
- fetchai/oef_search:0.2.0
- fetchai/tac:0.2.0
skills:
- fetchai/error:0.2.0
- fetchai/tac_control_contract:0.2.0
default_connection: fetchai/oef:0.4.0
default_ledger: ethereum
ledger_apis:
  ethereum:
    address: https://ropsten.infura.io/v3/f00f7b3ba0e848ddbdc8941c527447fe
    chain_id: 3
    gas_price: 20
logging_config:
  disable_existing_loggers: false
  version: 1
private_key_paths: {}
registry_path: ../packages
