agent_name: tac_controller_contract
author: fetchai
version: 0.26.0
description: An AEA to manage an instance of the TAC (trading agent competition) using
  an ERC1155 smart contract.
license: Apache-2.0
aea_version: '>=1.0.0rc1, <2.0.0'
fingerprint: {}
fingerprint_ignore_patterns: []
connections:
- fetchai/ledger:0.17.0
- fetchai/p2p_libp2p:0.20.0
- fetchai/soef:0.21.0
contracts:
- fetchai/erc1155:0.20.0
protocols:
- fetchai/contract_api:0.14.0
- fetchai/default:0.15.0
- fetchai/ledger_api:0.13.0
- fetchai/oef_search:0.16.0
- fetchai/signing:0.13.0
- fetchai/state_update:0.13.0
- fetchai/tac:0.16.0
skills:
- fetchai/tac_control:0.20.0
- fetchai/tac_control_contract:0.22.0
default_connection: fetchai/p2p_libp2p:0.20.0
default_ledger: ethereum
required_ledgers:
- fetchai
- ethereum
logging_config:
  disable_existing_loggers: false
  version: 1
private_key_paths: {}
default_routing:
  fetchai/contract_api:0.14.0: fetchai/ledger:0.17.0
  fetchai/ledger_api:0.13.0: fetchai/ledger:0.17.0
  fetchai/oef_search:0.16.0: fetchai/soef:0.21.0
connection_private_key_paths: {}
dependencies:
  aea-ledger-ethereum:
    version: <2.0.0,>=1.0.0rc2
  aea-ledger-fetchai:
    version: <2.0.0,>=1.0.0rc3
---
public_id: fetchai/p2p_libp2p:0.20.0
type: connection
cert_requests:
- identifier: acn
  ledger_id: ethereum
  not_after: '2022-01-01'
  not_before: '2021-01-01'
  public_key: fetchai
  message_format: '{public_key}'
  save_path: .certs/conn_cert.txt
---
public_id: fetchai/soef:0.21.0
type: connection
config:
  chain_identifier: ethereum
---
public_id: fetchai/tac_control:0.20.0
type: skill
is_abstract: true
