agent_name: generic_buyer
author: fetchai
version: 0.30.0
description: The buyer AEA purchases the services offered by the seller AEA.
license: Apache-2.0
aea_version: '>=1.0.0, <2.0.0'
fingerprint: {}
fingerprint_ignore_patterns: []
connections:
- fetchai/ledger:0.21.0
- fetchai/p2p_libp2p:0.27.0
- fetchai/soef:0.27.1
contracts: []
protocols:
- fetchai/default:1.1.1
- fetchai/fipa:1.1.1
- fetchai/ledger_api:1.1.1
- fetchai/oef_search:1.1.1
- fetchai/signing:1.1.1
- fetchai/state_update:1.1.1
skills:
- fetchai/generic_buyer:0.27.1
default_connection: fetchai/p2p_libp2p:0.27.0
default_ledger: fetchai
required_ledgers:
- fetchai
logging_config:
  disable_existing_loggers: false
  version: 1
private_key_paths: {}
default_routing:
  fetchai/ledger_api:1.1.1: fetchai/ledger:0.21.0
  fetchai/oef_search:1.1.1: fetchai/soef:0.27.1
connection_private_key_paths: {}
dependencies:
  aea-ledger-fetchai:
    version: <2.0.0,>=1.0.0
