agent_name: generic_buyer
author: fetchai
version: 0.17.0
description: The buyer AEA purchases the services offered by the seller AEA.
license: Apache-2.0
aea_version: '>=0.8.0, <0.9.0'
fingerprint: {}
fingerprint_ignore_patterns: []
connections:
- fetchai/ledger:0.11.0
- fetchai/p2p_libp2p:0.13.0
- fetchai/soef:0.14.0
contracts: []
protocols:
- fetchai/default:0.10.0
- fetchai/fipa:0.11.0
- fetchai/ledger_api:0.8.0
- fetchai/oef_search:0.11.0
- fetchai/signing:0.8.0
- fetchai/state_update:0.8.0
skills:
- fetchai/error:0.10.0
- fetchai/generic_buyer:0.18.0
default_connection: fetchai/p2p_libp2p:0.13.0
default_ledger: fetchai
logging_config:
  disable_existing_loggers: false
  version: 1
private_key_paths: {}
registry_path: ../packages
default_routing:
  fetchai/ledger_api:0.8.0: fetchai/ledger:0.11.0
  fetchai/oef_search:0.11.0: fetchai/soef:0.14.0
connection_private_key_paths: {}
