export AEA_LEDGER_ID="fetchai"
export AEA_ADDRESS="fetch1x9v67meyfq4pkgy2n2yf6797cfkul327kpclqr"
export AEA_PUBLIC_KEY="02ac514ba70de60ed5c30f90e3acdfc958ecb416d9676706bf013228abfb2c2816"
export AEA_PRIVATE_KEY="6d8d2b87d987641e2ca3f1991c1cccf08a118759e81fabdbf7e8484f27af015e"
export AEA_P2P_POR_SERVICE_ID="acn"
export AEA_P2P_POR_LEDGER_ID="fetchai"
export AEA_P2P_POR_PEER_PUBKEY="0217a59bd805c310aca4febe0e99ce22ee3712ae085dc1e5630430b1e15a584bb7"
export AEA_P2P_POR_SIGNATURE="avzHfL/fjMidvweJJKjtBUiqJ2+6aDUq8MoNRBi9nDI/lWleIX3ftRf6Sx5UWmxcS0SW03IVrf1iKTXA5zeA0g=="
export AEA_P2P_DELEGATE_HOST="acn.fetch.ai"
export AEA_P2P_DELEGATE_PORT=11000