<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="static/css/home.css">
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
</head>
<body>
    <div class="error"><br></div>
    <div class="container">
        <h1 class="banner">Fetch.AI AEA CLI REST API</h1>
        <table>
            <tr>
                <td class="mainTable">
                    <h2 class="banner">Local Agents</h2>

                    <div class="section editor">
                        <label for="localAgentsCreateId">Create Agent id
                            <input id="localAgentsCreateId" type="text" />
                        </label>
                        <button id="localAgentsCreate">Create Agent</button>
                        <br>
                        <br>
                        <div class="localAgents">
                            <table>
                                <caption>Local Agents</caption>
                                <thead>
                                    <tr>
                                        <th>Agent id</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody class="localAgentsregisteredTable">
                                </tbody>
                            </table>
                        </div>
                    </div>

                     <div>
                        <h2 align="center">Selected Agent: <span id="localAgentsSelectionId">NONE</span> </h2>
                    </div>
                    {% for i in range(0, len) %}
                        {% if htmlElements[i][0] == "local" and htmlElements[i][1] != "agent" %}

                            <div class="section editor">
                                <div class="section ">
                                    <div class="{{htmlElements[i][2]}}">
                                        <table>
                                            <caption><span class="localItemHeading">Local</span>'s {{htmlElements[i][1]}}s</caption>
                                            <thead>
                                                <tr>
                                                    <th>{{htmlElements[i][1]}} id</th>
                                                    <th>Description</th>
                                                </tr>
                                            </thead>
                                            <tbody class="{{htmlElements[i][2]}}registeredTable">
                                            </tbody>
                                        </table>
                                    </div>
                                    <div>
                                        <h3>Selected {{htmlElements[i][1]}}: <div id="{{htmlElements[i][2]}}SelectionId" style="display: inline">NONE</div></h3>
                                    </div>
                                    <button id="{{htmlElements[i][2]}}Remove">Remove {{htmlElements[i][1]}}</button>
                                    <br>
                                    <label for="{{htmlElements[i][2]}}ScaffoldId">Scaffold {{htmlElements[i][1]}} id
                                        <input id="{{htmlElements[i][2]}}ScaffoldId" type="text" />
                                    </label>
                                    <button id="{{htmlElements[i][2]}}Scaffold">Scaffold new {{htmlElements[i][1]}}</button>
                                    <br>
                                    <br>
                                </div>
                            </div>

                        {% endif %}
                    {% endfor %}
                    <div class="section editor">
                        <div class="section ">
                            <button id="localAgentsDelete">Delete "<span class="localItemHeading">NONE</span>" Agent</button>
                        </div>
                    </div>


                    <div class="section editor">
                        <h2>Running "<span class="localItemHeading">NONE</span>" Agent</h2>
<!--                        <div class="dropdown">-->
<!--                          <button class="button">Run with connection: Default</button>-->
<!--                          <div class="dropdown-content">-->
<!--                            <a href="#">Default</a>-->
<!--                            <a href="#">connection 1</a>-->
<!--                            <a href="#">connection 2</a>-->
<!--                          </div>-->
<!--                        </div>-->
                        <button id="startAgent">Start Agent</button>
                        <label for="runConnectionId">with connection id:
                            <input id="runConnectionId" type="text" />
                        </label>
                        <br>
                        <button id="stopAgent">Stop Agent</button>
                        <h3 id="agentStatus">Agent Status: NONE</h3>
                        <div class="code" id="agentTTY"></div>
                        <br>
                        <div class="codeError" id="agentError"></div>
                    </div>

                    <br>
                    <br>
                    <br>
                </td>
                <td class="mainTable">
                    <h2 class="banner">The Registry</h2>

                    {% for i in range(0, len) %}
                        {% if htmlElements[i][0] == "registered"%}
                            <div class="section editor">
                                <div class="{{htmlElements[i][2]}}">
                                    <table>
                                        <caption>Registered {{htmlElements[i][1]}}s</caption>
                                        <thead>
                                            <tr>
                                                <th>{{htmlElements[i][1]}} id</th>
                                                <th>Description</th>
                                            </tr>
                                        </thead>
                                        <tbody class="{{htmlElements[i][2]}}registeredTable">
                                        </tbody>
                                    </table>
                                </div>
                                <div>
                                <h3>Selected {{htmlElements[i][1]}}: <div id="{{htmlElements[i][2]}}SelectionId" style="display: inline">NONE</div></h3>
                                </div>
                                <button id="{{htmlElements[i][2]}}Add"><< Add {{htmlElements[i][1]}}</button>
                            </div>
                            <br>
                        {% endif %}
                    {% endfor %}

                    <div class="section editor">
                        <h2>OEF Node</h2>

                        <button id="startOEFNode">Start OEF Node</button>
                        <button id="stopOEFNode">Stop OEF Node</button>
                        <h3 id="oefStatus">OEF Node Status: NONE</h3>
                        <div class="code" id="oefTTY">
                        </div>
                        <br>
                        <div class="codeError" id="oefError">
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>

                </td>
            </tr>
        </table>

    </div>
</body>
<script src="static/js/home.js"></script>
</html>