/* overriding colours */
[data-md-color-scheme="default"] {
  --md-primary-fg-color: #4051b5;
  --md-typeset-color: #525252;
  --md-a-color:#1d6ff5;
}
[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #fff;
  --md-typeset-color: #d0d6fc;
  --md-a-color:#5997fd;
}

/*overriding the header*/
.md-header-nav__button.md-logo img {
	width: auto!important;
}

.md-nav__button .md-logo{
	width: auto!important;
}

.md-header__button.md-logo img {
  width: auto !important;
}


@media screen and (max-width: 76.1875em) {
  .md-nav--primary .md-nav__title[for="__drawer"] {
    background-color: #202943 !important;
  }

	.md-nav--primary .md-nav__title[for=__drawer] img{
		width: 180px;
	    height: auto;
	}
}

.md-header{
	background-color:#202943!important;
	padding: 10px;
	height: auto;
}

/* Overriding font header, link, paragraph styling  */
.md-typeset h3,
.md-typeset h1,
.md-typeset h2 {
  margin-bottom: 0.4em;
  color: var(--md-primary-fg-color);
  font-weight: 400;
}

.md-typeset a {
  color: var(--md-a-color);
}

.black-link{
	color: black!important;
}

.md-nav__item .md-nav__link--active {
  padding: 4px 8px;
  position: relative;
  left: -8px;
  background: #E9EBFC;
  border-radius: 16px;
  width: fit-content;
  color: rgb(64, 81, 181)
}

@media screen and (max-width: 76.1875em) {
  .md-nav__item .md-nav__link--active {
    left: 0;
  }
}
