agent_name: random_beacon_feed
author: fetchai
version: 0.10.0
license: Apache-2.0
description: An agent that retrieves the Fetch.ai decentralised random beacon value.
aea_version: '>=1.0.0, <2.0.0'
fingerprint: {}
fingerprint_ignore_patterns: []
connections:
- fetchai/ledger:0.19.0
contracts: []
protocols:
- fetchai/default:1.0.0
- fetchai/ledger_api:1.0.0
- fetchai/signing:1.0.0
- fetchai/state_update:1.0.0
skills:
- fetchai/fetch_beacon:0.12.0
default_connection: fetchai/ledger:0.19.0
default_ledger: fetchai
required_ledgers:
- fetchai
default_routing: {}
connection_private_key_paths: {}
private_key_paths: {}
logging_config:
  disable_existing_loggers: false
  version: 1
dependencies:
  aea-ledger-fetchai:
    version: <2.0.0,>=1.0.0
---
public_id: fetchai/ledger:0.19.0
type: connection
config:
  ledger_apis:
    fetchai:
      address: https://rest-stargateworld.fetch.ai:443
      denom: atestfet
      chain_id: stargateworld-3
