agent_name: simple_aggregator
author: fetchai
version: 0.5.0
license: Apache-2.0
description: AEA that aggregates observations
aea_version: '>=1.0.0, <2.0.0'
fingerprint: {}
fingerprint_ignore_patterns: []
connections:
- fetchai/http_client:0.24.1
- fetchai/http_server:0.23.1
- fetchai/p2p_libp2p:0.27.0
- fetchai/prometheus:0.9.1
- fetchai/soef:0.27.1
contracts: []
protocols:
- fetchai/aggregation:0.2.1
- fetchai/default:1.1.1
- fetchai/http:1.1.1
- fetchai/oef_search:1.1.1
- fetchai/prometheus:1.1.1
- fetchai/signing:1.1.1
- fetchai/state_update:1.1.1
skills:
- fetchai/advanced_data_request:0.7.1
- fetchai/simple_aggregation:0.3.1
default_connection: fetchai/p2p_libp2p:0.27.0
default_ledger: fetchai
required_ledgers:
- fetchai
logging_config:
  disable_existing_loggers: false
  version: 1
default_routing: {}
connection_private_key_paths: {}
private_key_paths: {}
dependencies:
  aea-ledger-fetchai:
    version: <2.0.0,>=1.0.0
---
public_id: fetchai/advanced_data_request:0.7.1
type: skill
models:
  advanced_data_request_model:
    args:
      decimals: 0
      use_http_server: false
---
public_id: fetchai/http_server:0.23.1
type: connection
config:
  target_skill_id: fetchai/advanced_data_request:0.7.1
---
public_id: fetchai/simple_aggregation:0.3.1
type: skill
models:
  strategy:
    args:
      aggregation_function: mean
      quantity_name: price
      search_query:
        search_value: generic_aggregation_service
      service_id: generic_aggregation_service
