agent_name: coin_price_oracle_client
author: fetchai
version: 0.4.0
license: Apache-2.0
description: An AEA providing a coin price oracle client service.
aea_version: '>=0.11.0, <0.12.0'
fingerprint: {}
fingerprint_ignore_patterns: []
connections:
- fetchai/http_client:0.18.0
- fetchai/ledger:0.14.0
contracts:
- fetchai/fet_erc20:0.4.0
- fetchai/oracle_client:0.4.0
protocols:
- fetchai/contract_api:0.12.0
- fetchai/default:0.13.0
- fetchai/http:0.13.0
- fetchai/ledger_api:0.11.0
- fetchai/signing:0.11.0
- fetchai/state_update:0.11.0
skills:
- fetchai/simple_oracle_client:0.5.0
default_connection: fetchai/ledger:0.14.0
default_ledger: ethereum
default_routing:
  fetchai/contract_api:0.12.0: fetchai/ledger:0.14.0
  fetchai/http:0.13.0: fetchai/http_client:0.18.0
  fetchai/ledger_api:0.11.0: fetchai/ledger:0.14.0
connection_private_key_paths: {}
private_key_paths: {}
logging_config:
  disable_existing_loggers: false
  version: 1
registry_path: ../packages
dependencies:
  aea-ledger-ethereum:
    version: <0.2.0,>=0.1.0
  aea-ledger-fetchai:
    version: <0.2.0,>=0.1.0
