agent_name: coin_price_oracle_client
author: fetchai
version: 0.12.1
license: Apache-2.0
description: An AEA providing a coin price oracle client service.
aea_version: '>=1.0.0, <2.0.0'
fingerprint: {}
fingerprint_ignore_patterns: []
connections:
- fetchai/http_client:0.24.2
- fetchai/ledger:0.21.1
contracts:
- fetchai/fet_erc20:0.9.1
- fetchai/oracle_client:0.11.1
protocols:
- fetchai/contract_api:1.1.2
- fetchai/default:1.1.2
- fetchai/http:1.1.2
- fetchai/ledger_api:1.1.2
- fetchai/signing:1.1.2
- fetchai/state_update:1.1.2
skills:
- fetchai/simple_oracle_client:0.13.1
default_connection: fetchai/ledger:0.21.1
default_ledger: ethereum
required_ledgers:
- fetchai
- ethereum
default_routing:
  fetchai/contract_api:1.1.2: fetchai/ledger:0.21.1
  fetchai/http:1.1.2: fetchai/http_client:0.24.2
  fetchai/ledger_api:1.1.2: fetchai/ledger:0.21.1
connection_private_key_paths: {}
private_key_paths: {}
logging_config:
  disable_existing_loggers: false
  version: 1
dependencies:
  aea-ledger-ethereum:
    version: <2.0.0,>=1.0.0
  aea-ledger-fetchai:
    version: <2.0.0,>=1.0.0
---
public_id: fetchai/simple_oracle_client:0.13.1
type: skill
models:
  strategy:
    args:
      ledger_id: ethereum
      query_function: queryOracleValue
