agent_name: ml_data_provider
author: fetchai
version: 0.2.0
description: An agent that sells data.
license: Apache-2.0
aea_version: '>=0.3.0, <0.4.0'
fingerprint: {}
fingerprint_ignore_patterns: []
connections:
- fetchai/oef:0.2.0
- fetchai/stub:0.2.0
contracts: []
protocols:
- fetchai/default:0.1.0
- fetchai/fipa:0.1.0
- fetchai/ml_trade:0.1.0
- fetchai/oef_search:0.1.0
skills:
- fetchai/error:0.2.0
- fetchai/ml_data_provider:0.2.0
default_connection: fetchai/oef:0.2.0
default_ledger: fetchai
ledger_apis: {}
logging_config:
  disable_existing_loggers: false
  version: 1
private_key_paths: {}
registry_path: ../packages
timeout: null
execution_timeout: null
max_reactions: null
