version: 0.1.0
agent_name: erc1155_client
author: fetchai
aea_version: 0.2.4
connections:
- fetchai/oef:0.1.0
- fetchai/stub:0.1.0
contracts:
- fetchai/erc1155:0.1.0
default_connection: fetchai/stub:0.1.0
default_ledger: ethereum
description: 'An AEA to interact with the ERC1155 deployer AEA'
fingerprint: {}
fingerprint_ignore_patterns: []
ledger_apis:
  ethereum:
    address: https://ropsten.infura.io/v3/f00f7b3ba0e848ddbdc8941c527447fe
    chain_id: 3
    gas_price: 50
license: Apache-2.0
logging_config:
  disable_existing_loggers: false
  version: 1
private_key_paths: {}
protocols:
- fetchai/default:0.1.0
- fetchai/fipa:0.1.0
- fetchai/oef_search:0.1.0
registry_path: ../packages
skills:
- fetchai/erc1155_client:0.1.0
- fetchai/error:0.1.0
