agent_name: latest_block_feed
author: fetchai
version: 0.11.0
license: Apache-2.0
description: An agent that retrieves the latest block data from the Fetch ledger.
aea_version: '>=1.0.0, <2.0.0'
fingerprint: {}
fingerprint_ignore_patterns: []
connections:
- fetchai/ledger:0.21.0
contracts: []
protocols:
- fetchai/default:1.1.1
- fetchai/ledger_api:1.1.1
- fetchai/signing:1.1.1
- fetchai/state_update:1.1.1
skills:
- fetchai/fetch_block:0.12.1
default_connection: fetchai/ledger:0.21.0
default_ledger: fetchai
required_ledgers:
- fetchai
default_routing: {}
connection_private_key_paths: {}
private_key_paths: {}
logging_config:
  disable_existing_loggers: false
  version: 1
dependencies:
  aea-ledger-fetchai:
    version: <2.0.0,>=1.0.0
---
public_id: fetchai/ledger:0.21.0
type: connection
config:
  ledger_apis:
    fetchai:
      address: https://rest-dorado.fetch.ai:443
      denom: atestfet
      chain_id: dorado-1
