agent_name: tac_participant
author: fetchai
version: 0.25.0
description: An AEA to participate in the TAC (trading agent competition)
license: Apache-2.0
aea_version: '>=1.0.0rc1, <2.0.0'
fingerprint: {}
fingerprint_ignore_patterns: []
connections:
- fetchai/ledger:0.16.0
- fetchai/p2p_libp2p:0.19.0
- fetchai/soef:0.20.0
contracts:
- fetchai/erc1155:0.19.0
protocols:
- fetchai/default:0.14.0
- fetchai/fipa:0.15.0
- fetchai/oef_search:0.15.0
- fetchai/signing:0.12.0
- fetchai/state_update:0.12.0
- fetchai/tac:0.15.0
skills:
- fetchai/tac_negotiation:0.23.0
- fetchai/tac_participation:0.20.0
default_connection: fetchai/p2p_libp2p:0.19.0
default_ledger: fetchai
required_ledgers:
- fetchai
logging_config:
  disable_existing_loggers: false
  version: 1
private_key_paths: {}
default_routing:
  fetchai/ledger_api:0.12.0: fetchai/ledger:0.16.0
  fetchai/oef_search:0.15.0: fetchai/soef:0.20.0
connection_private_key_paths: {}
decision_maker_handler:
  dotted_path: aea.decision_maker.gop:DecisionMakerHandler
  file_path: null
  config: {}
dependencies:
  aea-ledger-fetchai:
    version: <2.0.0,>=1.0.0rc3
