agent_name: coin_price_oracle
author: fetchai
version: 0.5.0
license: Apache-2.0
description: An AEA providing a coin price oracle service.
aea_version: '>=0.10.0, <0.11.0'
fingerprint: {}
fingerprint_ignore_patterns: []
connections:
- fetchai/http_client:0.17.0
- fetchai/ledger:0.13.0
- fetchai/p2p_libp2p:0.15.0
- fetchai/prometheus:0.3.0
contracts:
- fetchai/oracle:0.4.0
protocols:
- fetchai/contract_api:0.11.0
- fetchai/default:0.12.0
- fetchai/http:0.12.0
- fetchai/ledger_api:0.10.0
- fetchai/prometheus:0.3.0
- fetchai/signing:0.10.0
- fetchai/state_update:0.10.0
skills:
- fetchai/coin_price:0.4.0
- fetchai/simple_oracle:0.4.0
default_connection: fetchai/p2p_libp2p:0.15.0
default_ledger: ethereum
default_routing:
  fetchai/contract_api:0.11.0: fetchai/ledger:0.13.0
  fetchai/http:0.12.0: fetchai/http_client:0.17.0
  fetchai/ledger_api:0.10.0: fetchai/ledger:0.13.0
  fetchai/prometheus:0.3.0: fetchai/prometheus:0.3.0
connection_private_key_paths: {}
private_key_paths: {}
logging_config:
  disable_existing_loggers: false
  version: 1
registry_path: ../packages
---
public_id: fetchai/coin_price:0.4.0
type: skill
models:
  coin_price_model:
    args:
      url: https://api.coingecko.com/api/v3/
---
public_id: fetchai/p2p_libp2p:0.15.0
type: connection
cert_requests:
- identifier: acn
  ledger_id: ethereum
  not_after: '2022-01-01'
  not_before: '2021-01-01'
  public_key: fetchai
  save_path: .certs/conn_cert.txt
