agent_name: coin_price_oracle
author: fetchai
version: 0.16.0
license: Apache-2.0
description: An AEA providing a coin price oracle service.
aea_version: '>=1.0.0, <2.0.0'
fingerprint: {}
fingerprint_ignore_patterns: []
connections:
- fetchai/http_client:0.23.0
- fetchai/ledger:0.19.0
- fetchai/p2p_libp2p:0.25.0
- fetchai/prometheus:0.8.0
contracts:
- fetchai/oracle:0.11.0
protocols:
- fetchai/contract_api:1.0.0
- fetchai/default:1.0.0
- fetchai/http:1.0.0
- fetchai/ledger_api:1.0.0
- fetchai/prometheus:1.0.0
- fetchai/signing:1.0.0
- fetchai/state_update:1.0.0
skills:
- fetchai/advanced_data_request:0.6.0
- fetchai/simple_oracle:0.14.0
default_connection: fetchai/p2p_libp2p:0.25.0
default_ledger: ethereum
required_ledgers:
- fetchai
- ethereum
default_routing:
  fetchai/contract_api:1.0.0: fetchai/ledger:0.19.0
  fetchai/http:1.0.0: fetchai/http_client:0.23.0
  fetchai/ledger_api:1.0.0: fetchai/ledger:0.19.0
  fetchai/prometheus:1.0.0: fetchai/prometheus:0.8.0
connection_private_key_paths: {}
private_key_paths: {}
logging_config:
  disable_existing_loggers: false
  version: 1
dependencies:
  aea-ledger-ethereum:
    version: <2.0.0,>=1.0.0
  aea-ledger-fetchai:
    version: <2.0.0,>=1.0.0
---
public_id: fetchai/advanced_data_request:0.6.0
type: skill
models:
  advanced_data_request_model:
    args:
      url: https://api.coingecko.com/api/v3/simple/price?ids=fetch-ai&vs_currencies=usd
      outputs:
      - name: price
        json_path: fetch-ai.usd
---
public_id: fetchai/simple_oracle:0.14.0
type: skill
models:
  strategy:
    args:
      ledger_id: ethereum
      oracle_value_name: price
      update_function: updateOracleValue
---
public_id: fetchai/p2p_libp2p:0.25.0
type: connection
cert_requests:
- identifier: acn
  ledger_id: ethereum
  not_after: '2022-01-01'
  not_before: '2021-01-01'
  public_key: fetchai
  message_format: '{public_key}'
  save_path: .certs/conn_cert.txt
