agent_name: coin_price_feed
author: fetchai
version: 0.15.2
license: Apache-2.0
description: An AEA providing a coin price feed.
aea_version: '>=1.0.0, <2.0.0'
fingerprint: {}
fingerprint_ignore_patterns: []
connections:
- fetchai/http_client:0.24.3
- fetchai/http_server:0.23.3
- fetchai/prometheus:0.9.3
contracts: []
protocols:
- fetchai/default:1.1.3
- fetchai/http:1.1.3
- fetchai/prometheus:1.1.3
- fetchai/signing:1.1.3
- fetchai/state_update:1.1.3
skills:
- fetchai/advanced_data_request:0.7.3
default_connection: fetchai/http_server:0.23.3
default_ledger: fetchai
required_ledgers:
- fetchai
default_routing:
  fetchai/http:1.1.3: fetchai/http_client:0.24.3
  fetchai/prometheus:1.1.3: fetchai/prometheus:0.9.3
connection_private_key_paths: {}
private_key_paths: {}
logging_config:
  disable_existing_loggers: false
  version: 1
dependencies:
  aea-ledger-fetchai:
    version: <2.0.0,>=1.0.0
---
public_id: fetchai/http_server:0.23.3
type: connection
config:
  api_spec_path: vendor/fetchai/skills/advanced_data_request/api_spec.yaml
  target_skill_id: fetchai/advanced_data_request:0.7.3
---
public_id: fetchai/advanced_data_request:0.7.3
type: skill
models:
  advanced_data_request_model:
    args:
      url: https://api.coingecko.com/api/v3/simple/price?ids=fetch-ai&vs_currencies=usd
      outputs:
      - name: price
        json_path: fetch-ai.usd
      use_http_server: true
