agent_name: coin_price_feed
author: fetchai
version: 0.7.0
license: Apache-2.0
description: An AEA providing a coin price feed.
aea_version: '>=0.11.0, <0.12.0'
fingerprint: {}
fingerprint_ignore_patterns: []
connections:
- fetchai/http_client:0.18.0
- fetchai/http_server:0.17.0
- fetchai/prometheus:0.4.0
contracts: []
protocols:
- fetchai/default:0.13.0
- fetchai/http:0.13.0
- fetchai/prometheus:0.4.0
- fetchai/signing:0.11.0
- fetchai/state_update:0.11.0
skills:
- fetchai/advanced_data_request:0.1.0
default_connection: fetchai/http_server:0.17.0
default_ledger: fetchai
default_routing:
  fetchai/http:0.13.0: fetchai/http_client:0.18.0
  fetchai/prometheus:0.4.0: fetchai/prometheus:0.4.0
connection_private_key_paths: {}
private_key_paths: {}
logging_config:
  disable_existing_loggers: false
  version: 1
registry_path: ../packages
dependencies:
  aea-ledger-fetchai:
    version: <0.2.0,>=0.1.0
---
public_id: fetchai/http_server:0.17.0
type: connection
config:
  api_spec_path: vendor/fetchai/skills/advanced_data_request/api_spec.yaml
  target_skill_id: fetchai/advanced_data_request:0.1.0
---
public_id: fetchai/advanced_data_request:0.1.0
type: skill
models:
  advanced_data_request_model:
    args:
      url: https://api.coingecko.com/api/v3/simple/price?ids=fetch-ai&vs_currencies=usd
      outputs:
      - name: price
        json_path: fetch-ai.usd
      use_http_server: true
