agent_name: tac_participant_contract
author: fetchai
version: 0.22.0
description: An AEA to participate in the TAC (trading agent competition) using an
  ERC1155 smart contract.
license: Apache-2.0
aea_version: '>=1.0.0, <2.0.0'
fingerprint: {}
fingerprint_ignore_patterns: []
connections:
- fetchai/ledger:0.21.0
- fetchai/p2p_libp2p:0.27.0
- fetchai/soef:0.27.1
contracts:
- fetchai/erc1155:0.23.1
protocols:
- fetchai/default:1.1.1
- fetchai/fipa:1.1.1
- fetchai/oef_search:1.1.1
- fetchai/signing:1.1.1
- fetchai/state_update:1.1.1
- fetchai/tac:1.1.1
skills:
- fetchai/tac_negotiation:0.29.1
- fetchai/tac_participation:0.25.1
default_connection: fetchai/p2p_libp2p:0.27.0
default_ledger: fetchai
required_ledgers:
- fetchai
- ethereum
logging_config:
  disable_existing_loggers: false
  version: 1
private_key_paths: {}
default_routing:
  fetchai/contract_api:1.1.1: fetchai/ledger:0.21.0
  fetchai/ledger_api:1.1.1: fetchai/ledger:0.21.0
  fetchai/oef_search:1.1.1: fetchai/soef:0.27.1
connection_private_key_paths: {}
decision_maker_handler:
  dotted_path: aea.decision_maker.gop:DecisionMakerHandler
  file_path: null
  config: {}
dependencies:
  aea-ledger-ethereum:
    version: <2.0.0,>=1.0.0
  aea-ledger-fetchai:
    version: <2.0.0,>=1.0.0
---
public_id: fetchai/p2p_libp2p:0.27.0
type: connection
cert_requests:
- identifier: acn
  ledger_id: fetchai
  not_after: '2022-01-01'
  not_before: '2021-01-01'
  public_key: fetchai
  message_format: '{public_key}'
  save_path: .certs/conn_cert.txt
---
public_id: fetchai/soef:0.27.1
type: connection
config:
  chain_identifier: fetchai_v2_misc
---
public_id: fetchai/tac_participation:0.25.1
type: skill
models:
  game:
    args:
      is_using_contract: true
---
public_id: fetchai/tac_negotiation:0.29.1
type: skill
models:
  strategy:
    args:
      is_contract_tx: true
